section.section_m80-120
    .container
        .banners-wrapper
            a(href="/" style="background-image: url(/img/header.jpg)").banner-half
            a(href="/" style="background-image: url(/img/header.jpg)").banner-half