.pages
    a(href="/").pages__more Показать еще  
    ul.pages__list
        li.pages__item
            a(href="/").pages__link.active
                span 1
        li.pages__item
            a(href="/").pages__link
                span 2
        li.pages__item
            a(href="/").pages__link
                span 3
        li.pages__item
            a.pages__link.disabled
                span ...
        li.pages__item
            a(href="/").pages__link
                span 10                                