include components/global.pug
include components/svg/index.pug
include components/head/index.pug
include components/blocks/products/index.pug

- 
    pageSettings = {
        title: 'Страница товара',
        contacts: false
    }

<!DOCTYPE html>
html(lang=global.lang)
    head
        +head(pageSettings)
    body.page
        include components/header/product.pug
        main.main
            include components/blocks/product-page/index
            include components/blocks/form/product
            include components/blocks/recomends/index
        include components/footer/index.pug