.header-filter
    form.form-e.header-filter__wrapper(action="/")
        .header-filter__blocks
            .header-filter__block
                
        button(type="submit").button.button_search
            +svg({
                name: 'search'
            }) 