include ../category/index

-   
    const cats = [
        {
            title: 'Спецтехника',
            img: 3
        },
        {
            title: 'Запчасти',
            img: 5
        },
         {
            title: 'Шины',
            img: 4
        },
         {
            title: 'Двигатели',
            img: 2
        },
         {
            title: 'Фильтры',
            img: 6
        },
         {
            title: 'ГСМ',
            img: 1
        },
    ]

section.section.section_m80-128.categories
    .container
        ul.categories__list
            each data in cats
                li.categories__item
                    +category(data)

