.footer-pays
    ul.footer-pays__list
        li.footer-pays__item
            +svg({
                name: 'mir',
                size: [70, 20]
            }) 
        li.footer-pays__item
            +svg({
                name: 'mc',
                size: [52, 40]
            }) 
        li.footer-pays__item
            +svg({
                name: 'visa',
                size: [72, 22]
            })  