-
    const topLinks = [
        'Спецтехника', 'Запчасти', 'Шины', 'Двигатели', 'Фильтры', 'ГСМ'
    ]

    const bottomLinks1 = [
        "О компании", "БигЖурнал", "БигTube", "Сотрудничество", "Контакты"
    ]

    const bottomLinks2 = [
        "Доставка и оплата", "Гарантия", "Лизинг и кредит"
    ]
    

.mobile-menu(style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; background: #fff;")
    .mobile-menu__top
        +logo(dark)
        a(href="javascript:void(0)").mobile-menu__close
            +svg({
                name: 'close'
            })
    .mobile-menu__center
        nav.menu-nav
            ul.menu-nav__list
                each link in topLinks
                    li.menu-nav__item
                        a(href="javascript:void(0);" data-id="1").menu-nav__link=link
        .mobile-menu__actions
            a(href="tel:88002000619").header__phone.mobile-menu__phone 8 (800) 200-06-19
                .header__city.mobile-menu__city
                    span Санкт-Петербург
                    +svg({
                        name: 'chevron'
                    })
            .mobile-menu__icons
                a(href="/").header__icons-link.mobile-menu__icons-link
                    +svg({
                        name: 'copy'
                    })
                    .header__icons-link-count 2
                    span Сравнение
                a(href="/").header__icons-link.mobile-menu__icons-link
                    +svg({
                        name: 'bookmark'
                    })
                    .header__icons-link-count 2
                    span Избранное
    .mobile-menu__bottom
        nav.menu-nav-bottom
            ul.menu-nav-bottom__list
                each link in bottomLinks1
                    li.menu-nav-bottom__item 
                       a(href="").menu-nav-bottom__link=link 









