-
    const topLinks = [
        'Спецтехника', 'Запчасти', 'Шины', 'Двигатели', 'Фильтры', 'ГСМ'
    ]

    const bottomLinks1 = [
        "О компании", "БигЖурнал", "БигTube", "Сотрудничество", "Контакты"
    ]

    const bottomLinks2 = [
        "Доставка и оплата", "Гарантия", "Лизинг и кредит"
    ]
    
    const sublinks = [
        {
            title: 'Погрузчики',
            list: ['Фронтальные погрузчики', 'Вилочные погрузчики', 'Экскаваторы-погрузчики', 'Дорожные мини-погрузчики', 'Ричстакеры']
        },
        {
            title: 'Автотехника',
            list: ['Автокраны', 'Автобетононасосы']
        },
        {
            title: 'Дорожно-строительная техника',
            list: ['Автогрейдеры', 'Бульдозеры', 'Катки дорожные', 'Экскаваторы', 'Стационарные бетононасосы', 'Асфальтоукладчики', 'Гусеничные краны', 'Стабилизаторы грунта', 'Проходческие комбайны', 'Фрезы дорожные', 'Буровые установки']
        },
        {
            title: 'Другая спецтехника',
            list: ['Стационарные бетононасосы', 'Бетонораспределительные стрелы']
        }
    ]


.mobile-menu(data-first-level="")
    .mobile-menu__top
        +logo('dark')
        a(href="javascript:void(0)").mobile-menu__close
            +svg({
                name: 'close'
            })
    .mobile-menu__center
        nav.menu-nav
            ul.menu-nav__list
                each link in topLinks
                    li.menu-nav__item
                        a(href="javascript:void(0);" data-submenu-open="1").menu-nav__link=link
        .mobile-menu__actions
            a(href="tel:88002000619").header__phone.mobile-menu__phone 8 (800) 200-06-19
            .header__city.mobile-menu__city(data-modal-open="city")
                span Санкт-Петербург
                +svg({
                    name: 'chevron'
                })
            .mobile-menu__icons
                a(href="/").header__icons-link.mobile-menu__icons-link
                    .header__icons-link-count 2
                    +svg({
                        name: 'copy'
                    })
                    span Сравнение
                a(href="/").header__icons-link.mobile-menu__icons-link
                    .header__icons-link-count 2
                    +svg({
                        name: 'bookmark'
                    })
                    span Избранное
        .mobile-menu__icons.mobile-show
            a(href="/").header__icons-link.mobile-menu__icons-link
                .header__icons-link-count 2
                +svg({
                    name: 'copy'
                })
                span Сравнение
            a(href="/").header__icons-link.mobile-menu__icons-link
                .header__icons-link-count 2
                +svg({
                    name: 'bookmark'
                })
                span Избранное        
    .mobile-menu__bottom
        nav.menu-nav-bottom
            ul.menu-nav-bottom__list
                each link in bottomLinks1
                    li.menu-nav-bottom__item 
                       a(href="").menu-nav-bottom__link=link
            ul.menu-nav-bottom__list
                each link in bottomLinks2
                    li.menu-nav-bottom__item 
                       a(href="").menu-nav-bottom__link=link            
.mobile-menu(data-submenu="1").sub
    .mobile-menu__top
        a(href="javascript:void(0);" data-submenu-close="").mobile-menu__back
            +svg({
                name: 'chevron'
            }) 
            span Назад
        a(href="javascript:void(0)").mobile-menu__close
            +svg({
                name: 'close'
            })
    .mobile-menu__center.flex-wrap.mt-90 
        each item in sublinks
            nav.menu-nav-bottom.half
                .menu-nav-bottom__block
                    p.menu-nav-bottom__title=item.title
                    ul.menu-nav-bottom__list
                        each link in item.list
                            li.menu-nav-bottom__item 
                                a(href="").menu-nav-bottom__link=link   

    










