.form {
   &__wrapper {
       display: flex;
       justify-content: space-between;
       padding: 5% 10%;
       background: @firstColor;
   }
   &__title {
    .titleSection;
    .titleSectionWhite;
   }
   .form__side {
       width: 50%;
       &_text {
            max-width: 34.5%;
       }
   }
   &__description {
       margin: 32px 0 0 0;
       color: #fff;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
   }
   &__fields {
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
   }
   &__action {
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
}