@media(max-width: 1440px) {
    .container {
        width: 92%;
    }
    .products {
        &__list {
            .grid-3fr-res;
            &_col-6 {
                .grid-3fr-res
            }
        }
    }
    .footer-subscribe {
        &__title {
            font-size: 1em;
            min-width: unset;
        }
    }
    .footer-navigation {
        &__title {
            font-size: 1em;
            min-width: unset;
        }
    }
    .footer-contacts {
        &__link {
            min-width: unset;
            font-size: 1em;
        }
    }
    .social {
        min-width: 240px;
        &__link {
            svg {
                margin-right: 12px;
            }
        }
    }
    .news-index {
        &__list {
            .grid-2fr-res
        }
    }
    .section {
        &__title {
            font-size: 32px;
        }
    }
    .videos {
        &__list {
            .grid-2fr-res
        }
    }
    .form {
        &__title {
            font-size: 32px;
        }
        &__action{
            flex-wrap: wrap;
            &-check {
                margin-bottom: 24px;
            }
        }
    }
    
}