section.section.product-features
    .container
        .product-features__wrapper
            h2.product-features__title Комплектация
            ul.product-features__list
                li.product-features__item
                    +svg({
                        name:'check'
                    })
                    span  Быстросъемная каретка
                li.product-features__item 
                    +svg({
                        name:'check'
                    })
                    span  Трехконтурная гидросистема
                li.product-features__item
                    +svg({
                        name:'check'
                    })
                    span  LED фары усиленного свечения
                li.product-features__item
                    +svg({
                        name:'check'
                    })
                    span  Проблесковый маячок
                li.product-features__item 
                    +svg({
                        name:'check'
                    })
                    span  Защита центрального гидро-цилиндра
                li.product-features__item 
                    +svg({
                        name:'check'
                    })
                    span  Защита суппортов
                li.product-features__item
                    +svg({
                        name:'check'
                    })
                    span  Комплект фильтров на первое ТО 
                li.product-features__item
                    +svg({
                        name:'check'
                    })
                    span  Набор инструментов 
                li.product-features__item
                    +svg({
                        name:'check'
                    })
                    span  Комплект рабочей одежды 
                li.product-features__item
                    +svg({
                        name:'check'
                    })
                    span  Погрузочно-увязочные работы 