section.section.product-description
    .container
        .product-description__wrapper
            .product-description__side
                h2.product-description__title Информация #[br]для дилеров
                a(href="/").product-description__link
                    .product-description__link-decore.chevron
                        +svg({
                            name: 'chevron'
                        })
                    span.product-description__link-title Как cтать дилером техники
            .product-description__side
                p Мы ведем работу по расширению дилерской сети на территории РФ и приглашаем вас стать нашим официальным дилером по продажам фронтальных погрузчиков RUNMAX.