section.section.product-description
    .container
        .product-description__wrapper
            .product-description__side
                h2.product-description__title Описание #[br]техники
            .product-description__side
                p Мы представляем надежные и доступные фронтальные погрузчики AMUR, которые отлично зарекомендовали себя в России. Наша компания постоянно совершенствует технику совместно с заводом-производителем. Простота — основа успешной эксплуатации в жестких условиях России.
            .product-description__side-full
                a(href="/").product-description__link
                    .product-description__link-decore
                        +svg({
                            name: 'download'
                        })
                    span.product-description__link-title Скачать каталог PDF     