section.section.product-specials
    .container
        ul.product-specials__list
            li.product-specials__item
                .product-special
                    .product-special__text
                        .product-special__title Инновационный джойстик
                        .product-special__desc 
                            p С помощью него можно управлять не только рабочим оборудованием, но и самим погрузчиком. Рука об руку с красотой, присущей новому дизайну, идет и удобство — двигатель больше не доступен с трех сторон. Теперь он доступен полностью. Просто поднимите капот.
                    .product-special__image
                        img(src="/pictures/detail1.jpg", alt="")
            li.product-specials__item
                .product-special.product-special_reverse
                    .product-special__text
                        .product-special__title Быстросъемное устройство
                        .product-special__desc 
                            p Теперь поменять навесное оборудование можно за пару минут. Рука об руку с красотой, присущей новому дизайну, идет и удобство — двигатель больше не доступен с трех сторон. Теперь он доступен полностью. Просто поднимите капот.
                    .product-special__image
                        img(src="/pictures/detail2.jpg", alt="")
            li.product-specials__item
                .product-special
                    .product-special__text
                        .product-special__title Кабина новой конструкции
                        .product-special__desc 
                            p Вы видите все, что происходит рядом с машиной. Слепых зон больше нет. Рука об руку с красотой, присущей новому дизайну, идет и удобство — двигатель больше не доступен с трех сторон. Теперь он доступен полностью. Просто поднимите капот.
                    .product-special__image
                        img(src="/pictures/detail3.jpg", alt="")                                       