include ../blocks/logo/index
include ../blocks/header-navigation/index
include ../blocks/tabs/index
include ../blocks/breadcrumbs/grey
-  
    const white = true;  
    const navigation = [{title: 'Спецтехника',white: white, selected: true},{title: 'Запчасти',white: white},{title: 'Шины',white: white }, {title: 'Двигатели',white: white },{title: 'Фильтры',white: white },{title: 'ГСМ',white: white }];
    const breadcrumbs = ['Главная', 'Каталог', 'Шины']  
header(class=`header header_grey`)
    .container.container_header
        .header__wrapper
            +logo('dark')
            .header__navigation.header__navigation_black-font      
                +headerNavigation(navigation)
            .header__actions
                a(href="/").header__search
                    +svg({
                        name: 'search'
                    })
                .header__contacts.header__contacts_black-font 
                    a(href="tel:88002000619").header__phone 8 (800) 200-06-19
                    .header__city(data-modal-open="city")
                        span Санкт-Петербург
                        +svg({
                            name: 'chevron'
                        })
                .header__icons.header__icons_black-font
                    ul.header__icons-list
                        li.header__icons-item
                            a(href="/" data-modal-open="login").header__icons-link
                                +svg({
                                    name: 'user'
                                })
                        li.header__icons-item
                            a(href="/").header__icons-link
                                +svg({
                                    name: 'copy'
                                })
                                .header__icons-link-count 2
                        li.header__icons-item
                            a(href="/").header__icons-link
                                +svg({
                                    name: 'bookmark'
                                })
                                .header__icons-link-count=2
                        li.header__icons-item
                            a(href="/").header__icons-link
                                +svg({
                                    name: 'cart'
                                })
                                .header__icons-link-count=2
                        li.header__icons-item.burger
                            span.burger__line 
                            span.burger__line          
    .container                                                      
        .header__content.header__content_inner
            +breadcrumbs(breadcrumbs)
            .header__content-wrapper
                h1.title.title_main.title_main-black.title_main-left Шины для #[br]спецтехники
                a(href="/").header__link
                    .header__link-decore
                        +svg({
                            name: 'download'
                        })
                    span Скачать каталог PDF 
    include ../blocks/mobile-menu/index     