.header {
    padding: 48px 0 80px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &_index {
        padding-bottom: 140px;
    }
    &_grey {
        background: #F7F7F7
        
    }
    &_product {
        padding-bottom: 0;
    }
    &_dark {
        position: relative;
    }
    &__wrapper {
        display: flex;
        align-items: center;
    }
    &__navigation {
        margin-left: auto;
        margin-right: auto;
        &_black-font * {
            color: #000;
        } 
    }
    &__content {
        padding-top: 16%;
        &_inner {
            padding-top: 5%;
        }
        &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            h1 {
                margin: 0;
            }
        }
    }
    &__select {
        margin-top: 3%;
    }
    &__tabs {
        display: flex;
        justify-content: center;
        margin-top: 44px;
    }
    &__icons {
        margin-top: 1rem;
        &-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 0 32px;
            .list-reset;
        }
        &-link {
            display: block;
            position: relative;
            text-decoration: none;
            &-count {
                position: absolute;
                right: -8px;
                top: -8px;
                border-radius: 50%;
                width: 16px;
                height: 16px;
                background: @firstColor;
                color: #fff;
                font-weight: 500;
                font-size: 8px;
                line-height: 16px;
                font-family: @font1;
                text-align: center;
            }
            svg {
                width: 24px;
                height: 24px;
                stroke: #fff;
            }
        }
        &_black-font a svg {
            stroke: #000;
        }
    }
    &__city {
        display: flex;
        color: #fff;
        align-items: center;
        margin-top: 8px;
        font-size: 12px;
        cursor: pointer;
        .transitionSecond;
        svg {
          width: 16px;
          height: 16px;
          margin-top: 8px;
          stroke: @firstColor;
          transform: rotate(90deg);
          margin-left: 12px;
          .transitionSecond;
        }
        &:hover {
            color: #000;
            svg {
                stroke: #000;
            }
        }
    }
    &__actions {
        display: flex;
        align-items: center;
        margin-left: auto;
        width: 27.5%;
        flex-wrap: wrap;
    }
    &__search {
        display: block;
        svg {
            width: 24px;
            height: 24px;
            stroke: @firstColor;
        }
    }
    &__phone {
        text-decoration: none;
        font-family: @font1;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: 10%;
        margin-right: auto;
        &_black-font * {
            color: #000;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        color: #000;
        text-transform: uppercase;
        text-decoration: none;
        .transitionSecond;
        &:hover {
            color: @firstColor;
        }
        &-decore {
           .button-svg;
           svg {
               width: 24px;
               height: 24px;
               .transitionSecond;
           }
        }
        &.white {
            color: #fff;
            svg {
                stroke: #fff;
            }
        }
        &:hover {
            .header__link {
                &-decore {
                    background-color: @firstColor;
                    border: 1px solid @firstColor;
                    svg {
                        stroke: #fff;
                    }
                }
            }
        }
    }
}
