.footer-subscribe
    p.footer-subscribe__title Узнавайте об акциях раньше всех
    form.form-e.footer-subscribe__form(action="/" data-method="subscribe")
        label.field
            input(type="email" placeholder="E-mail" name="EMAIL").field__input.fi.req
            a(href="javascript:void(0);").field__button.pos-a.js-ajax-form  подписаться